<h2>AfterContent (2)</h2>
<dl class="row">
    <dt class="col-sm-2">Leírás</dt>
    <dd class="col-sm-10">
        <b>ngAfterContentInit():</b> akkor fut le, amikor az Angular megjeleníti a külső tartalmat a komponens nézetében.
        <br> Egyszer fut le, az első ngDoCheck() után.
        <br>
        <b>ngAfterContentChecked():</b> akkor fut le, amikor az Angular ellenőrzi a megjelenített tartalmat a komponensben vagy direktívában.
        <br> Lefut egyszer az ngAfterContentInit() után és minden azt követő ngDoCheck() után is.
    </dd>
</dl>