<div class="row">
  <!-- <div class="col-12 mt-3">
    <button (click)="updateAll()" class="btn btn-info btn-block"> update all </button>
  </div> -->
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let col of cols"> {{ col.label }} </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list$ | async">
          <td *ngFor="let col of cols"> {{ user[col.key] }} </td>
          <td>
            <button
              (click)="update(user)"
              class="btn btn-info"
            >
              <i class="fa fa-refresh"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
