<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <form
      #regForm="ngForm"
      (ngSubmit)="onSubmit(regForm)"
      class="form"
    >
      <div class="form-group">
        <label>Name</label>
        <input
          name="name"
          [(ngModel)]="user.name"
          required
          pattern="^[A-Za-z ]{5,25}$"
          type="text"
          class="form-control"
        >
        <p
          *ngIf="regForm.form.controls.name?.invalid && regForm.form.controls.name?.touched"
          class="text-danger text-sm"
        >Name is required and must be 5-25 chars.</p>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          #emailInput="ngModel"
          name="email"
          [(ngModel)]="user.email"
          required
          email
          type="email"
          class="form-control"
        >
        <p
          *ngIf="emailInput.invalid && emailInput.touched"
          class="text-danger text-sm"
        >Valid email is required.</p>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input
          #addressInput="ngModel"
          name="address"
          [(ngModel)]="user.address"
          required
          minlength="5"
          maxlength="100"
          type="text"
          class="form-control"
        >
        <p
          *ngIf="addressInput.invalid && addressInput.touched"
          class="text-danger text-sm"
        >The address is required and must be 5-100 chars length.</p>
      </div>

      <div class="form-group">
        <label>Work Experience</label>
        <input
          #workExp="ngModel"
          name="workExp"
          [(ngModel)]="user.workExperience"
          required
          min="3"
          max="25"
          type="number"
          class="form-control"
        >
        <p
          *ngIf="(workExp.value < 3 || workExp.value > 25)"
          class="text-danger text-sm"
        >The work experience must be in the 3-25 range.</p>
      </div>

      <div class="form-group">
        <label>Where are you came from?</label>
        <select
          #cameFromSelect="ngModel"
          name="cameFrom"
          [(ngModel)]="user.cameFrom"
          required
          class="form-control"
        >
          <option
            value=""
            [selected]="user.cameFrom === ''"
          >choose one</option>
          <option value="Other">Other</option>
          <option value="Facebook">Facebook</option>
          <option value="Google">Google</option>
        </select>
        <p
          *ngIf="cameFromSelect.invalid && cameFromSelect.touched"
          class="text-danger text-sm"
        >Please select a value.</p>
      </div>
      <div class="form-check">
        <input
          #termsCheck="ngModel"
          required
          requiredTrue
          id="conditions-checkbox"
          name="conditions"
          [(ngModel)]="user.conditions"
          type="checkbox"
          class="form-check-input"
        >
        <label
          for="conditions-checkbox"
          class="form-check-label"
        >I agree with the terms and conditions</label>
        <p
          *ngIf="termsCheck.invalid"
          class="text-danger text-sm"
        >Please confirm the terms.</p>
      </div>

      <div class="form-check">
        <input
          id="newsletter-checkbox"
          name="newsLetter"
          [(ngModel)]="user.newsLetter"
          type="checkbox"
          class="form-check-input"
        >
        <label
          for="newsletter-checkbox"
          class="form-check-label"
        >Newsletter</label>
      </div>
      <button
        [disabled]="regForm.form.invalid"
        type="submit"
        class="btn btn-primary mt-3 mb-3"
      > register </button>
      <p>
        Actual values: {{ regForm.value | json }}
      </p>
    </form>
  </div>
</div>
