<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <form *ngIf="user" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="form">
      <div class="form-group"><label for="">Firstname</label><input
          type="text"
          [(ngModel)]="user.first_name"
          name="first_name"
          class="form-control"
        ></div>
      <div class="form-group"><label for="">Lastname</label><input
          type="text"
          [(ngModel)]="user.last_name"
          name="last_name"
          class="form-control"
        ></div>
      <div class="form-group"><label for="">Email</label><input
          type="email"
          [(ngModel)]="user.email"
          name="email"
          class="form-control"
        ></div>
      <div class="form-group"><label for="">Password</label><input
          type="password"
          [(ngModel)]="user.password"
          name="password"
          class="form-control"
        ></div>
      <div class="form-group"><label for="">Role</label>
        <select
          type="text"
          [(ngModel)]="user.role"
          name="role"
          class="form-control"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">
        update
      </button>
    </form>
  </div>
